<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.context.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.context.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2B3A42">
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <!--<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Source+Sans+Pro:400,400i,500,600" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
    <% for (var file of htmlWebpackPlugin.options.context.cssFiles) { %>
      <link href="<%= file %>" rel="stylesheet">
    <% } %>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?39edd8e76884f07399be96cd422c9af3";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>


    <script src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
  </head>
  <body>
    <%- webpackConfig.html %>

    <% for (var script of htmlWebpackPlugin.options.context.jsFiles) { %>
      <script src="<%= script %>"></script>
    <% } %>

    <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'webpack/webpack',
        activationElement: false
      };
    </script>

    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  </body>
</html>
